<!DOCTYPE html>
<html lang="en">

<body>

    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <link rel="stylesheet" href="css/gunks.css">
        <title>admin_space</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        
        <div class="index" id="adminSpace">
            <h1>Admin Space</h1>

            <h2>Create new user:</h2>
            <label>First name:</label>
            <input type="text" id="firstN"><br><br>
            <label>Last name:</label>
            <input type="text" id="lastN"><br><br>
            <label>Email:</label>
            <input type="text" id="email"><br><br>
            <label>New Username (6Characters):</label>
            <input type="text" id="userName"><br><br>
            <label>New user password:</label>
            <input type="text" id="newUserPassword"><br><br>
            <button type="button" id="submitU">Submit ></button><br>

            <h2>Update user:</h2>
            <label>User ID:</label>
            <input type="text" id="updateUser"><br><br>
            <label>Set new password:</label>
            <input type="text" id="updateUserPassword"><br><br>
            <label>Set new privledges:</label>
            <input type="text" id="updateUserPrivledges"><br><br>
            <label>Set new Privlages: </label>
            <div class="dropdown show">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Dropdown link
                </a>
              
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </div>
            <br>
            <br>
            <button type="button" id="Submit">Submit ></button><br>

            <h2>Upload an image for the project:</h2>
            <label>Image:</label>
            <input type="image" id="image"><br>
            <button type="button" id="submit">Submit ></button>
        </div>
    </body>
</body>

</html>

<script type="text/javascript">
    var first = "";
    var last = "";
    var email = "";
    var user = "";
    var password = "";
    document.getElementById("submitU").addEventListener("click", function () {
        newUser();
    }, false);

    function newUser() {
        first = document.getElementById('firstN').value;
        last = document.getElementById('lastN').value;
        email = document.getElementById('email').value;
        user = document.getElementById('userName').value;
        password = document.getElementById('newUserPassword').value;
        // console.log(first);
        // console.log(last);
        // console.log(email);
        // console.log(user);
        // console.log(password);
        event.preventDefault();
        // let firstName = getFirst;
        // let lastName = getLast;
        // let userEmail = getEmail;
        // let userPassword = getPassword;
        fetch('http://10.10.9.145:3000/api/users/add_user', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({
                UserID: user,
                Fir_Name: first,
                Las_Name: last,
                Email: email,
                Password: password
            })
        }).then((res) => res.json())
            .then((data) => console.log(data))
            .catch((err) => console.log(err))
    }

</script>