<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale = 1">
    <link rel="stylesheet" href="css/gunks.css" />
</head>
<!--<body class="content">-->
<body id="create_question">
    <div>
        <h2>Create Question</h2>
    </div>

    <div class="file">
        <label>Question:</label><br><br>
        <textarea rows="4" cols="50"> 
        </textarea>
        <br><br>
        <label>Type: </label><br>
        <input type="text" name="type"><br><br>
        <button type="button" id="Submit">Submit ></button>
    </div>     
</body>
</html>

<script >
    function createQuestion(){
        var quest = q.value.length;
        if(quest == 0){
            alert("Empty question not valid");
        }else{
            var question = document.getElementById("createQ");
        }
        var questionT = qt.value.length;
        if(questionT == 0){
            alert("Empty question type not valid");
        }else{
            var questionType = document.getElementById("createQ");
        }	
    }
</script>
