﻿<html lang = "en">

    <head>
        <meta charset = "utf-8">
        <meta name = "viewport" content = "width=device-width, initial-scale = 1">
        <link rel = "stylesheet" href = "css/gunks.css"/> 
    </head>
    <body id="create_survey">
        <div>
            <h1>Create a survey</h1>
        </div>

        <div class="file" id = "tableForm">
            <h2>Survey title:</h2>
            <input type = "text" id = "survTitle"><br><br>
            <h2>Choose survey questions:</h2>
            <table id = "columnTable"> <!-- table for column headers -->
                <col width="20px" />
                <col width="500px" />
                <tr style="background-color: #ECE3E3">
                    <th>Question ID</th>
                    <th>Question</th>
                </tr>
            </table>
            <table id = "questionTable"> <!-- table of questions from api -->
                <col width="20px" />
                <col width="500px" />
            </table>
            <h2>Survey description:</h2>
            <textarea rows = "4" cols = "50"></textarea><br><br>
            <button type="button" id="submit" > Submit > </button>
        </div>
    </body>
</html>

<script>
var chosen = [];
var moreCh = [];
var check = [];
getQuestions();
document.getElementById("submit").addEventListener("click", function(){
    submitQuestions();}, false);

function getQuestions(check){
    //var text = document.createTextNode("checkbox");
    fetch('http://148.100.149.70:3000/api/questions')
    .then((res_1) => { return res_1.json() })
    .then((data_1) => {
        let result = [];
        data_1.forEach((question) => {
            const { QuesID, Ques_text} = question
            result = [
            `QuesID: ${QuesID}
                Question Text : ${Ques_text} ` ];  
            chosen.unshift(QuesID);
            makeTable(result);
        });
    })
}

function makeTable(data){
    var ques = document.getElementById("questionTable");
    var newRow = ques.insertRow(0);
    //(newRow).append("<input type = 'checkbox'/>")
    for(var i = 0; i < data.length; i++){
        var newCell = newRow.insertCell(i);
        newCell.innerHTML = data[i];
        var checkbox = document.createElement("input");
        checkbox.type = 'checkbox';
        checkbox.id = 'tncheckbox' + i;
        newCell.appendChild(checkbox);
    }
}

function submitQuestions(){
    var chkd = document.getElementById("questionTable");
    var chkdb = chkd.getElementsByTagName('tncheckbox');
    for(var i = 0; i < chkdb.length; i++){
        if(chkdb[i].checked){
            check.push(chkdb[i]);
        }
    }
    console.log(check);
}

function postSurvey(check){
    console.log(check);
    event.preventDefault();
    let survey = check;

    fetch('http://10.10.9.145:3000/api/questions/add', {
            method: 'POST',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify({Ques_text:tittle})
    }).then((res) => res.json())
    .then((data) =>  console.log(data))
    .catch((err)=>console.log(err))

}
</script>