<html lang = "en">

    <head>
        <meta charset = "utf-8">
        <meta name = "viewport" content = "width=device-width, initial-scale = 1">
        <link rel = "stylesheet" href = "css/bootstrap.css"/> 
    </head>
    <body id="create_survey" onload="getQuestions()" style="background-color: #DFE4E8; width: 100%">
        <div class="container-fluid" id="primary_question">
            <h1>Create a survey</h1>
            <h2>Survey title:</h2>

            <input type = "text" id = "survTitle"><br><br>
            <h2>Choose survey questions:</h2>

            <!--TABLE OF QUESTIONS-->
            <table class="table table-striped" id="questionTable">
                <tr>
                    <th style="text-align: center">Select</th>
                    <th style="text-align: center">Question ID</th>
                    <th>Question</th>
                </tr>
            </table>
            <!--TABLE OF QUESTIONS-->

            <h2>Survey description:</h2>
            <textarea rows = "4" cols = "50" id = "survD"></textarea><br><br>
            <button type="button" id="submit" > Submit > </button>
        </div>
    </body>
</html>

<script src="https://code.jquery.com/jquery.min.js"></script>
<script src="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.0/bootstrap-table.min.js"></script>
<script>
    var check = [];

    document.getElementById("submit").addEventListener("click", function(){
        submitQuestions(document.getElementById("survTitle").value,
        document.getElementById("survD").value);}, false);
                    
    function getQuestions(){
        var url = 'http://18.219.137.210:3000/api/questions';
        $(document).ready(function() {
            $.getJSON(url, function (data) { // fetches the json from url, puts in data as a result
                var question_data = '';
                $.each(data, function(key,value){
                    var checkID = JSON.parse(value.QuesID);
                    question_data += '<tr>';
                    question_data += '<td style=width:5%;text-align:center;vertical-align:middle><input type=checkbox id=tncheckbox'+checkID+'></input></td>';  
                    question_data += '<td style=width:11%;text-align:center>'+value.QuesID+'</td>';
                    question_data += '<td>'+value.Ques_text+'</td>';
                    question_data += '</tr>';
                });
                $('#questionTable').append(question_data); // adds row of data to table
            });
        })
    }
    /**
    function submitQuestions(title, des){
        console.log(title);
        console.log(des);
        var checkBoxId = 1;
        var table = document.getElementById('questionTable');
        // checking which check boxes are checked
        if((table.getElementsByTagName('tncheckbox') + checkBoxId).checked){
            check.push(document.getElementById("tncheckbox" + checkBoxId).value);
            checkBoxId++;
        }

        console.log(check);
        
        // posting the survey title and description 
        fetch('http://18.219.137.210:3000/api/surveys/add', {
            method: 'POST',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify({SurvTitle:title,
                                  SurvDescription:des})
        }).then((res) => res.json())
        .then((data) =>  postQ(data.insertId, check))
        .catch((err)=>console.log(err))
    }
*/
/**
    function postQ(dat, check){
        var des = check;
        des.forEach(choice =>{
            // posting the chosen questions to the new survey 
            fetch('http://18.219.137.210:3000/api/surveys/add_question', {
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify({SurvID:dat,
                                    QuesID:choice})
            }).then((res) => res.json())
            .then((data) =>  console.log(data))
            .catch((err)=>console.log(err))
        })
    }
  */  
</script>
