<html lang="en">
    <head>
        <link rel="stylesheet" href="css/gunks.css">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body id="fill_survey">

	<div>
       	     <h1>Fill Survey</h1>
             <h3>Select the survey you will be filling.</h3>
    </div>
    
    <div id = "search" style = "margin-left: 80%">
            <input type = "text" value = "Filter By" id = "filterBy">
            <button type = "button" id = "search">Search</button><br>
    </div>

    <div class="file" id="tableForm">
        <!--<h3 style="text-align: center">Creator | Created | Title | Description </h3>-->
        <table id="columnTable">
            <col width="125px" />
            <col width="350px" />
            <col width="375px" />
            <col width="500px" />
            <tr>
                <th>Creator</th>
                <th>Created</th> 
                <th>Title</th>
                <th>Description</th>
            </tr>
        </table>
        <table id="surveyTable">
            <col width="125px" />
            <col width="350px" />
            <col width="375px" />
            <col width="500px" />
        </table>
        
    </div>
    
    <script type="text/javascript">
        //document.getElementById("select").addEventListener("click", function() {
        //    showSurveyList();
        //}, false);

       // function showSurveyList() {
        //var test = document.getElementById('surveyTable');
        var url = 'http://10.10.9.145:3000/api/surveys';
        fetch(url) // Connection to api
            .then(surveyList => surveyList.json()) // Transform data into json
            .then(function(data) {
                let result = [];
                data.forEach((survey) => {
                    const {
                        SurvID,
                        SurvCreated,
                        SurvCreator,
                        SurvTitle,
                        SurvDescription
                    } = survey
                    result = [
                        `${SurvCreator}`,
                         `${SurvCreated}`,
                         `${SurvTitle}`,
                         `${SurvDescription}`];
                    let idk = JSON.stringify(result);
                    //document.getElementById("surveyTable").innerHTML = makeTableHTML();
                    makeTableHTML(result);
                });

            })
        //}

        function makeTableHTML(info) {
            
            var cols = ["Creator", "Created", "Title", "Description"];
            var survTable =  document.getElementById("surveyTable");
            var newRow = survTable.insertRow(0);
            for (var i = 0; i < info.length; i++) {
                var newCell = newRow.insertCell(i);
                newCell.innerHTML = info[i];
            }
        }

    </script>


    </body>
</html>

<script>

</script>