<html lang="en">
    <head>
        <link rel="stylesheet" href="css/gunks.css">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body id="fill_survey">

	<div>
       	     <h1>Fill Survey</h1>
             <h3>Select the survey you will be filling.</h3>
    </div>
    
    <div id = "search" style = "margin-left: 50%">
            <input type = "text" value = "Filter By" id = "filterBy">
            <button type = "button" id = "search">Search</button><br>
    </div>

    <div class="file">
            
            <div id = "bar">
                <h3 style="text-align: center">Creator | Created | Title | Description </h3>
                <div id = "search" style = "margin-right: 50%">
                        <button type = "button" id = "select">Select</button><br>
                </div>
            </div>
    </div>


    </body>
</html>

<script>

</script>