
<html lang="en">
    <head>
	<link rel="stylesheet" href="css/gunks.css">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body id="view_surveys">
        <div>
            <h1> View Surveys</h1>
            <table>
		<tr>
    		   <th>Title</th>
    		   <th>Creator</th>
    		   <th>Created</th>
    		   <th>Description</th>
  	        </tr>
	 	<tr>
  		   <td>Checking</td>
    		   <td>If</td>
        	   <td>This</td>
    		   <td>Works</td>
  		</tr>
	 	<tr>
  		   <td>Checking</td>
    		   <td>If</td>
        	   <td>This</td>
    		   <td>Works</td>
  		</tr>
	    </table>
		<button type="button">&laquo;Back</button>
	</div>
    </body>
</html>
<script>

</script>