
    <html lang="en">
    <head>
        <link rel="stylesheet" href="css/gunks.css">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body id="display_records">
        <div>
            <h1>View Records</h1>
            <h3>Select the record you wish to view.</h3>
        </div>

        <div id="search" style="margin-left: 80%">
            <input type="text" value="Filter By" id="filterBy">
            <button type="button" id="search">Search</button><br>
        </div>

        <div class="file" id="tableForm">
            <!--<h3 style="text-align: center">Interviewee | Filled | Interview Title | Survey Title </h3>-->
            <table id="columnTable">
                <!--Table for the column headers-->
                <col width="125px" />
                <col width="350px" />
                <col width="375px" />
                <col width="500px" />
                <tr style="background-color: #ECE3E3">
                    <th>Interviewee</th>
                    <th>Filled</th>
                    <th>Interview Title</th>
                    <th>Survey Title</th>
                </tr>
            </table>
            <table id="surveyTable">
                <!--Table for data from api-->
                <col width="125px" />
                <col width="350px" />
                <col width="375px" />
                <col width="500px" />
            </table>
        </div>

        <script type="text/javascript">

            document.getElementById("surveyTable").addEventListener("click", function () {
                highlight_row();
            }, false);

            document.getElementById("surveyTable").addEventListener("dblclick", function () {
                pullUpSurvey();
            }, false);

            var url = 'http://10.10.9.145:3000/api/interviews';
            fetch(url) // Connection to api
                .then(surveyList => surveyList.json()) // Transform data into json
                .then(function(data) {
                    let result = [];
                    data.forEach((interview) => {
                        const {
                            InteID,
                            Filled_by,
                            Date_filled,
                            SurvID,
                            InteTitle,
                            SurvCreated,
                            SurvCreator,
                            SurvTitle,
                            SurvDescription
                        } = interview
                        result = [
                            `${Filled_by}`,
                            `${Date_filled}`,
                            `${InteTitle}`,
                            `${SurvTitle}`];
                        let idk = JSON.stringify(result);
                        //document.getElementById("surveyTable").innerHTML = makeTableHTML();
                        makeTableHTML(result);
                    });

                })
        function makeTableHTML(info) {
            var survTable =  document.getElementById("surveyTable");
            var newRow = survTable.insertRow(0);
            for (var i = 0; i < info.length; i++) {
                var newCell = newRow.insertCell(i);
                newCell.innerHTML = info[i];
            }
        }

        function highlight_row() {
            var table = document.getElementById('surveyTable');
            var cells = table.getElementsByTagName('td');
            
            for (var i = 0; i < cells.length; i++) {
                // Take each cell
                var cell = cells[i];
                // do something on onclick event for cell
                cell.onclick = function () {
                    // Get the row id where the cell exists
                    var rowId = this.parentNode.rowIndex;
                    
                    var rowsNotSelected = table.getElementsByTagName('tr');
                    for (var row = 0; row < rowsNotSelected.length; row++) {
                        rowsNotSelected[row].style.backgroundColor = "";
                        rowsNotSelected[row].classList.remove('selected');
                    }
                    var rowSelected = table.getElementsByTagName('tr')[rowId];
                    rowSelected.style.backgroundColor = "gray";
                    rowSelected.className += " selected";
                }
            }
        }

        function pullUpInterview() { //This is where I need to figure out how to pull up an interview
            /*var url = 'http://10.10.9.145:3000/api/interviews/gather' + {SurvId};*/
            document.write("It worked");
        }
        </script>
    </body>
    </html>



<script>
	
</script>
