
    <html lang="en">
    <head>
        <link rel="stylesheet" href="css/gunks.css">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body id="display_surveys" onload="getSurveys();">
        <div>
            <h1> View Surveys</h1>
            <div class="file" id="surveysview">

            </div>
            <!--<table id="list_surveys">
                    <tr>
                        <th>Title</th>
                        <th>Creator</th>
                        <th>Created</th>
                        <th>Description</th>
                    </tr>
                </table>
                <br>-->
            <br>
            <!--<textarea id='display_surveys' rows=20 cols=100></textarea>-->
        </div>
    </body>
    </html>

<script>

	function getSurveys(){
		fetch('http://10.10.9.145:3000/api/surveys')
		.then((res_1) => { return res_1.json() })
		.then((data_1) => {
			let result_1 = ``;
			data_1.forEach((rec_1) => {
                const { SurvID, SurvCreated, SurvCreator, SurvTitle, SurvDescription } = rec_1
                var openSurv = document.createElement("button");
                var openValue = document.createTextNode(SurvTitle);
                openSurv.appendChild(openValue);

                result_1 +=
                    openSurv.outerHTML + `<br>
                    &emsp;&emsp;&emsp;&emsp; Creator: ${SurvCreator} <br>
                    &emsp;&emsp;&emsp;&emsp; Created: ${SurvCreated} <br>
                    &emsp;&emsp;&emsp;&emsp; Description: ${SurvDescription} <br><br>`;

                document.getElementById('surveysview').innerHTML = result_1;
            });
		})

	}
</script>

